* {
    margin: 0;
}

ul > li:nth-child(3) {
    color: red;
}

ul > li:nth-child(4) {
    color: red;
}

ol > li:nth-child(2) {
    font-size: 24px;
}

ol > li:nth-child(4) {
    font-size: 24px;
}

div > div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 50px;
    font-size: large;
    line-height: 1.6;
    color: black;
}

div > div > p:nth-child(1) {
    font-style: italic;
    color:black;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
    color: white;
}
button:active{
    width: 200px;
    height: 150px;
    border-radius: 0;
}
div:nth-child(even){
color:white;
}
